.input-field {
    background: #fff;
    display: flex;
    padding: 0 30px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    box-shadow: none;
    font-size: 18px;
    z-index: 3;
    height: 44px;
    width: 400px;

    &:focus {
        box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
        border-color: rgba(223, 225, 229, 0);
        outline: none;
    }
}